.App {
    height: 100vh;
}

#logo {
    width: 100px;
}

.nav-ul {
    list-style-type: none;
}

ul li {
    margin: 10px;
}

.master-row {
    border-bottom: 1px solid #d3d3d3;
}

.master-row:last-child {
    border:none;
}

.master-col>div {
    width: 35px;
    height: 35px;
    background-color: green;
}

.master-col2-top>div {
    width: 15px;
    height: 15px;
    background-color: orangered;
}

.master-col2-bot>div {
    width: 15px;
    height: 15px;
    background-color: orangered;
}

.palette>div {
    width: 35px;
    height: 35px;
    background-color: green;
}

.action>div {
    width: 35px;
    height: 35px;
    background-color: green;
    color: #fff;
}

